main {
  height: 90vh;
}
h1 {
  text-align: center;
}
.question {
  position: relative;
  margin-top: 5%;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 300px;
  left: 10%;
}
.userChoices {
  position: relative;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
}
.usernameContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  z-index: 4;
  width: 80vw;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.username {
  font-family: 'Cedarville Cursive', cursive;
  background-color: rgb(10, 10, 233);
  font-size: 2.5em;
  margin: 0;
  position: relative;
  top: 22%;
  left: 20%;
  padding-top: 15px;
  padding-left: 5px;
  line-height: 85%;
  font-weight: 500;
  /* text-align: center; */
  height: 30vh;
  width: 60%;
}
.nameInputContainer {
  width: 100%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.podium {
  background-image: url(../../assets/podium.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
}
.usernameInput {
  background-color: rgba(255, 255, 255, 0.548);
  padding: 5px;
  border: none;
}
.material-icons {
  font-size: 35px;
}
button {
  background-color: transparent;
  color: white;
  border: none;
}


@media only screen and (min-width: 768px) {
.question {
  left: 0;
  margin-top: 15%;
  font-size: 3rem;
}
.radioChoices {
  margin: 15px;
  font-size: 1.25rem;
}

.username {
  position: relative;
  left: 18%;
  top: 24%;
  height: 43%;
  width: 63%;
  margin: 0;
  font-size: 5em;
  text-align: center;
} 
.podium {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 600px;
}

}