/* nav {
  display: flex;
} */
.quiz {
  position: relative;
  left: 0;
}
.scores {
  position: relative;
  left: 90%;
}
a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  padding: 10px;
}
a:hover {
  color: gray;
}